{% extends 'user/userHome.html' %}
{% load static %}
{% block content %}



     <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        {% for image in carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{image.image.url}}" class="d-block w-100 carousel-img" alt="...">
        </div>
        {% endfor %}
      </div>
           {% for image in carousel %}
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="{{ forloop.counter0 }}" >
        <span class="carousel-control-prev-icon" {% if forloop.first %} aria-hidden="true {{forloop.counter}}" {% endif%}></span>
        <span class="visually-hidden">Previous</span>
      </button>
           {% endfor %}
            {% for image in carousel %}
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="{{ forloop.counter0 }}">
        <span class="carousel-control-next-icon"  {% if forloop.last %} aria-hidden="true {{forloop.counter}}" {% endif%}></span>
        <span class="visually-hidden">Next</span>
      </button>
            {% endfor %}
    </div>

    <div class="container">
        <h3 class="my-3"> All Products </h3>

        <div class="d-flex flex-row my-3">
                <form method="get" class="d-flex justify-content-end align-items-center gap-2">
                    {{ filterProduct.form }}
                <button type="submit" class="btn btn-primary">Search</button>
      </form>
        </div>

        <div class="row">
        {% for prod in products %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
                      <div class="card product-card border-0 rounded-0 shadow-sm" style="width:18rem">
                        <div class="overflow-hidden">
                            {% for img in prod.images.all %}
                                {% if img.is_default %}
                                    <img src="{{img.image.url}}" class="card-img-top p-img rounded-0" alt="...">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-body">
                          <h5 class="card-title ">{{prod.product.brand}}</h5>
                          <p class="card-text text-muted mb-4" title="{{ product.title }}">
                                <a href="{% url 'productDetail' prod.id %}" class="text-decoration-none text-dark">
                              {{prod.product.title | truncatechars:50}}
                                </a>
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                              <span class="price">{{prod.price}}</span>
                              <a href="{% url 'addToCart' prod.id %}"  class="btn-custom text-white px-4 py-2 "> Add to cart</a>
                          </div>
                        </div>
                      </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}