{% extends 'admin/adminDashboard.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <h3 class="text-center mb-3">Products variants</h3>

    <a href="{% url 'productDisplay' %}">
      <button class="btn btn-primary mb-3"> Add variant</button>
    </a>

      <div class ="alert alert-success alert-dismissible fade show alert- mt-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
        <div class="d-flex flex-row my-4">
                <form method="get" class="d-flex justify-content-end align-items-center gap-2">
                    {{ filter_product_variant.form }}
                <button type="submit" class="btn btn-dark">Search</button>
                </form>
        </div>
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Title</th>
            <th scope="col">Primary Variant</th>
            <th scope="col"> Secondary Variant</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
      {% for variant in product_variants %}
        <tr>
          <th scope="row">{{variant.id}}</th>
          <td>{{variant.product.brand}}</td>
          <td>{{variant.product.title}}</td>
          <td>{{variant.primary_variant}}</td>
          {% if variant.secondary_variant %}
          <td>{{variant.secondary_variant}}</td>
          {% else %}
          <td> </td>
          {% endif %}
          <td>{{variant.quantity}}</td>
          <td>{{variant.price}}</td>
          <td>
            <a href="{% url 'productVariantEdit' variant.id %}" class="btn btn-sm btn-outline-warning me-3"> edit </a>
            <a href="{% url 'productVariantDelete' variant.id %}" class="btn btn-sm btn-outline-danger"> delete </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}