{% extends 'admin/adminDashboard.html' %}
{% load static crispy_forms_tags %}
{% block content %}
     <div class="container">
        <div class="row ">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center mb-4">
                    <h2 class="h3"> Status edit </h2>
                </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{order_form | crispy}}
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary " style="">
                                        Save
                                    </button>
                                    <a href="{% url 'orderStatus1' %}" class="btn btn-danger ">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <h3>Order Items</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product Variant</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Subtotal (price x quantity)</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order_items %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.product_variant }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.get_subtotal }}</td>
                  </tr>

                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">No items in this order.</td>
                  </tr>
                {% endfor %}
                 </tbody>
                <tfoot>
                        <tr>
                            <td colspan="4" class="text-end">subtotal</td>
                            <td  class="text-end">Rs {{subtotal | floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">GST</td>
                            <td  class="text-end">{{gst  | floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">Delivery Charge</td>
                            <td class="text-end">{{delivery_charge  | floatformat:2}}</td>
                        </tr>
                        {% if discount %}
                        <tr>
                            <td colspan="4" class="text-end">Discount</td>
                            <td class="text-end text-danger">-{{discount}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4" class="text-end">Total Price</td>
                            <td class="text-end text-dark fw-bold">{{total_price  | floatformat:2}}</td>
                        </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}