{% extends 'admin/adminDashboard.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <h3 class="text-center mb-3"> Orders List </h3>
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="col">#</th>
                <th class="col"> Customer name</th>
                <th class="col">Brand</th>
                <th class="col">Title</th>
                <th class="col">Variants</th>
                <th class="col">price</th>
                <th class="col">Status</th>
                <th class="col">Actions</th>

              </tr>
            </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                  <a href="" class="btn btn-sm btn-outline-warning">
                      edit
                  </a>
              </td>


          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}