{% extends 'admin/adminDashboard.html' %}
{% load static crispy_forms_tags %}
{% block content %}
     <div class="container">
        <div class="row ">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center mb-4">
                    <h2 class="h3"> Status edit </h2>
                </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{order_form | crispy}}
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary " style="">
                                        Save
                                    </button>
                                    <a href="{% url 'orderStatus1' %}" class="btn btn-danger ">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <h3>Order Items</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-dark text-capitalize">#</th>
                  <th class="text-dark text-capitalize">Product Variant</th>
                  <th class="text-dark text-capitalize">Quantity</th>
                  <th class="text-dark text-capitalize">Price</th>
                  <th class="text-dark text-capitalize">Subtotal (price x quantity)</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order_items %}
                  <tr>
                    <td class="text-dark text-capitalize">{{ forloop.counter }}</td>
                    <td class="text-dark text-capitalize">{{ item.product_variant }}</td>
                    <td class="text-dark text-capitalize">{{ item.quantity }}</td>
                    <td class="text-dark text-capitalize">{{ item.price }}</td>
                    <td class="text-dark text-capitalize">{{ item.get_subtotal }}</td>
                  </tr>

                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">No items in this order.</td>
                  </tr>
                {% endfor %}
                 </tbody>
                <tfoot>
                        <tr>
                            <td colspan="4" class="text-end">subtotal</td>
                            <td  class="text-end text-dark  fw-bolder">Rs {{subtotal | floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">GST</td>
                            <td  class="text-end text-dark">Rs {{gst  | floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">Delivery Charge</td>
                            <td class="text-end text-dark"> Rs {{delivery_charge  | floatformat:2}}</td>
                        </tr>
                        {% if discount %}
                        <tr>
                            <td colspan="4" class="text-end">Discount</td>
                            <td class="text-end text-danger">-{{discount}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4" class="text-end">Total Price</td>
                            <td class="text-end text-dark fw-bold">Rs <span class="text-success fw-bolder">{{total_price  | floatformat:2}} </span></td>
                        </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}