{% extends 'user/user_dash.html' %}
{% block content %}

    <div class="container ">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h2> </h2>
        <div class="card m-5" style="width:34rem">
  <div class="card-body box-shadow-2">
    <h5 class="card-title">Appointment Form</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
      <form method="post">
          {% csrf_token %}
          <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Vaccine</label>
    <input type="text" class="form-control" id="validationDefault01" value="{{schedule.vaccine}}" readonly required>
  </div>


  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Date</label>
    <input type="text"  class="form-control" id="validationDefault03" value="{{schedule.date}}" readonly required>
  </div>

  <div class="col-md-3">
    <label for="validationDefault05" class="form-label">Start time</label>
    <input type="text" class="form-control" id="validationDefault05" value="{{schedule.start_time}}" readonly required>
  </div>
   <div class="col-md-4">
    <label for="validationDefault01" class="form-label">End time</label>
    <input type="text" class="form-control" id="validationDefault06" value="{{schedule.end_time}}" readonly required>
  </div>

  <div class="col-12 mt-2">
    <button class="btn btn-primary" type="submit">Submit appointment</button>
  </div>

        </form>
  </div>
</div>


      </div>

    </div>
  </div>

{% endblock %}