{% extends '../dashboard.html' %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col text-end my-4">

            </div>

          </div>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">contact no</th>
      <th scope="col">address</th>
      <th scope="col">child name</th>
      <th scope="col">child age </th>

<!--      <th scope="col"></th>-->
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  {% for i in user_data %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.name}}</td>
      <td>{{i.contact_no}}</td>
      <td>{{i.address}}</td>
      <td>{{i.child_name}}</td>
      <td>{{i.child_age}}</td>


<!--      <td>{{i.email}}</td>-->
<!--      <td><a href="{% url 'vaccineEdit' i.id %}"><i class="bi bi-pencil-square text-info me-2"> </i>EDIT</a></td>-->
<!--      <td> <a href="{% url 'vaccineDelete' i.id %}"><i class="bi bi-trash text-danger">   </i>DELETE</a></td>-->
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>
      </div>
    </div>
{% endblock %}