{% extends 'admin/adminDashboard.html' %}
{% block content %}



<div class="container text-start">
  <div class="row ">
    <h3 class="text-center mb-3 "> Customer List </h3>
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="col text-dark text-capitalize">#</th>
                <th class="col text-dark text-capitalize"> Username</th>
                <th class="col text-dark text-capitalize">Profile pic</th>
                <th class="col text-dark text-capitalize"> full name</th>
                <th class="col text-dark text-capitalize">Phone number</th>
                <th class="col text-dark text-capitalize">gender</th>
                <th class="col text-dark text-capitalize">Email</th>
                <th class="col text-dark text-capitalize">Created at</th>
                  <th class="col text-dark text-capitalize">Status</th>
                <th class="col text-dark text-capitalize">Actions</th>

              </tr>
            </thead>
          <tbody>
          {% for user in userData %}
          <tr>
              <td  class="text-capitalize">{{user.id}}</td>
              <td  class="text-capitalize">{{user.user.username}}</td>
              <td>
                 <img src="{{user.profilePicture.url}}" alt="{{user.fullName}}" width="40" class="rounded-circle">
              </td>
              <td  class="text-capitalize">{{user.fullName}}</td>
              <td  class="text-capitalize">{{user.phoneNumber}}</td>
              <td  class="text-capitalize">{{user.gender}}</td>
              <td >{{user.user.email}}</td>
              <td  class="text-capitalize">{{user.created_at | date:"d M Y, H:i"}}</td>
              <td class ="text-capitalize">{{user.status}}</td>

              <td>
                  <a href="{% url 'adminUserEdit' user.id %}" class="btn btn-sm btn-outline-warning me-3">
                      edit
                  </a>

                  <a href="{% url 'userDelete' user.id %}" class="btn btn-sm btn-outline-danger">
                      delete
                  </a>
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>



{% endblock %}