{% extends 'admin/adminDashboard.html' %}
{% load static crispy_forms_tags %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center mb-4">
                    <h2 class="h3"> Image form </h2>
                </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form | crispy}}
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary " >
                                        Add Image
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}