{% extends 'admin/adminDashboard.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="text-center"> Banner list</h3>
            <a href="{% url 'add_Banner' %}">
                <button class="btn btn-primary mb-3"> Add banner </button>
            </a>
            <div class="col">
                         <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col">#</th>
                        <th class="col"> Banner </th>
                         <th class="col"> Actions </th>

                      </tr>
                    </thead>
                  <tbody>
                  {% for b in banner %}
                  <tr>
                      <td>{{b.id}}</td>
                      <td>
                         <img src="{{b.image.url}}" alt="" width="200px" class="img-thumbnail border-0">
                      </td>

                      <td>
                          <a href="{% url 'bannerEdit' b.id %}" class="btn btn-sm btn-outline-warning me-3">
                              edit
                          </a>

                          <a href="{% url 'bannerDelete' b.id %}" class="btn btn-sm btn-outline-danger">
                              delete
                          </a>
                      </td>

                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}