{% extends 'admin/adminDashboard.html' %}
{% load static crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container mt-4">
            <div class="row ">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="text-center mb-4">
                        <h2 class="h3">Edit Banner</h2>
                    </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{banner_form | crispy}}
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-warning" style="background-color: #fca311 !important; border-color:#fca311">
                                            Save
                                        </button>
                                        <a class="btn btn-info" href="{% url 'bannerDisplay' %}" role="button">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}