{% extends 'user/userHome.html' %}
{% load static %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <h4 class="fw-bolder my-3">Your Address</h4>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
          <a href="{% url 'postAddress' %}">
              <div class="card h-100" style="width: 18rem; border:2px dashed #ddd;">
                <div class="text-center">
                    <img src="https://static.thenounproject.com/png/961411-200.png" class="card-img-top " alt="..." style="height:100px; width:100px">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center text-dark">Add Address</h5>
                </div>
              </div>
          </a>
      </div>
    {% for ad in address %}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
              {% if ad.is_default == True %}
              <span class="badge bg-secondary position-absolute top-0 start-50 translate-middle-x mt-2 px-3 py-2">
                  Default
              </span>
              {% else %}

              {% endif %}
            <div class="card-body d-flex flex-column">
              <h6 class="card-title text-dark fw-bold mb-1 text-capitalize">{{ad.user.fullName}}</h6>
              <p class="card-text text-dark mb-1 text-capitalize">{{ad.street_address}} </p>
              <p class="card-text text-dark mb-1 text-capitalize">{{ad.city}} </p>
              <p class="card-text text-dark mb-0 text-capitalize">{{ad.state}}, {{ad.country}} , {{ad.zip_code}}</p>
              <div class="mt-auto">
                <a href="{% url 'userAddressEdit' ad.id %}" class="card-link " style="color:blue">Edit</a>
                  <span class="text-dark mx-3"> | </span>
                <a href="{% url 'userDeleteAddress' ad.id %}" class="card-link" style="color:blue">Delete</a>
              </div>
            </div>
          </div>
      </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}