{% extends 'user/userHome.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid ">

        <div class="row g-0">
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar "  style="max-height: 100vh; overflow-y: auto;">
                <div class="position-sticky pt-3"  >
                    <ul class="nav flex-column">

                    <!--category-->
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#electronics" role="button">
                                electronics
                            </a>
                        <!--sub category-->
                            <div class="collapse ps-5" id="electronics">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                  <li><a href="{% url 'subCategoryProduct' %}" class="link-dark rounded">Smartphones</a></li>
                                  <li><a href="#" class="link-dark rounded">Smart TVs</a></li>
                                  <li><a href="#" class="link-dark rounded">Laptops</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle " data-bs-toggle="collapse" href="#fashion" role="button">
                                fashion
                            </a>
                        <!--sub category-->
                            <div class="collapse ps-5" id="fashion">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                  <li><a href="#" class="link-dark rounded">Men's Wear</a></li>
                                  <li><a href="#" class="link-dark rounded">Women's Wear</a></li>
                                  <li><a href="#" class="link-dark rounded">Accessories</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle " data-bs-toggle="collapse" href="#HomeAppliances" role="button">
                                Home Appliances
                            </a>
                        <!--sub category-->
                            <div class="collapse ps-5" id="HomeAppliances">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                  <li><a href="#" class="link-dark rounded">Washing Machines</a></li>
                                  <li><a href="#" class="link-dark rounded">Refrigerators</a></li>
                                  <li><a href="#" class="link-dark rounded">Microwave Ovens</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 ">
                {% block sub %}

                {% endblock %}

            </main>

        </div>

    </div>
{% endblock %}