{% extends 'user/userHome.html' %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="row">


        <div class="col-md-5">

            <div class="card border-0 p-3">
                {% if prodDetail.get_default_image %}
                    <img src="{{ prodDetail.get_default_image.image.url }}" class="img-fluid rounded" alt="Main Image" id="mainImage">
                {% endif %}
            </div>


            <div class="d-flex flex-wrap gap-2 mt-2">
                {% for img in prodDetail.images.all %}
                    <img src="{{ img.image.url }}" class="img-thumbnail gallery-thumb" style="width:60px; cursor:pointer;"
                         onclick="document.getElementById('mainImage').src=this.src;" alt="Thumbnail">
                {% endfor %}
            </div>
        </div>


        <div class="col-md-7">
            <h5 class="fw-bold">{{ prodDetail.product.title }}</h5>
            <h6 class="text-muted">Brand: <span class="fw-semibold">{{ prodDetail.product.brand }}</span></h6>
            <p class="mt-3">{{ prodDetail.product.description }}</p>
            <p class="mt-3 text-dark">{{prodDetail.primary_variant}}</p>
            <p class="mt-3 text-dark"> {{prodDetail.secondary_variant}}</p>

             <div class="mb-3">
                <label class="form-label fw-semibold">{{prodDetail.product.primary_variant}}</label>
                <div class="btn-group" role="group" aria-label="Size Options">
                    {% for pv in primary_values %}
                  <a href="?primary={{pv}}" class="btn btn-outline-dark {% if pv == selected_primary %}active{% endif %}">{{pv}}</a>
                    {% endfor %}
                </div>
             </div>


      <div class="mb-4">
        <label class="form-label fw-semibold">{{prodDetail.product.secondary_variant}}</label>
        <div class="btn-group" role="group" aria-label="Color Options">
             {% if secondary_values %}
                {% for sec_value in secondary_values %}
          <input type="radio" class="btn-check" name="size{{ forloop.counter }}" id="colorBlack" autocomplete="off" {% if forloop.first %}checked{% endif %} >
          <label class="btn btn-outline-dark" for="colorBlack">{{sec_value}}</label>
                {% endfor %}
            {% endif %}
        </div>
      </div>

            <!-- Price -->
            <p class="text-dark fs-5"><span class="fw-bold">Rs.</span> {{ prodDetail.price }}</p>

            <!-- Add to Cart Button -->
            <div class="mt-3">
                <button class="btn btn-dark btn-lg">
                    <i class="bi bi-cart-plus"></i> Add to Cart
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
