{% extends 'Nurse/nurse_dashboard.html' %}
{% block content %}
{% load crispy_forms_tags %}
 <div class="container ">
    <div class="row">
      <div class="col">
        <h2> </h2>
        <div class="card m-5" style="">
  <div class="card-body box-shadow-2">
    <h5 class="card-title">Edit Schedule</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
      <form method="post">
          {% csrf_token %}
          {{ upd_form| crispy }}

  <div class="col-12 mt-2">
    <button class="btn btn-primary" type="submit">Edit</button>
  </div>

        </form>
  </div>
</div>


      </div>

    </div>
  </div>
{% endblock %}